{{> head }}

{{> svg-lib }}

{{> calendar }}


  <!-- Preloader -->
  <script src='fc/lib/moment.min.js'></script>
  <div class="loadingIcon"><svg class="loading-icon" id="loading-circle" viewBox="0 0 18 18"><circle class="circle" opacity=".1" stroke="#fff" stroke-width="2" stroke-miterlimit="10" cx="9" cy="9" r="8" fill="none"></circle><circle class="dash" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="1,100" cx="9" cy="9" r="8" fill="none"></circle></svg></div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="js/main.min.js" type="text/javascript" name="main-scripts"></script>
  <script src='fc/fullcalendar.min.js'></script>

    <script>

      $(document).ready(function() {

        $('#calendar').fullCalendar({
          defaultDate: '2017-05-12',
          editable: true,
          eventLimit: true, // allow "more" link when too many events
          events: [
            {
              title: 'All Day Event',
              start: '2017-05-01'
            },
            {
              title: 'Long Event',
              start: '2017-05-07',
              end: '2017-05-10'
            },
            {
              id: 999,
              title: 'Repeating Event',
              start: '2017-05-09T16:00:00'
            },
            {
              id: 999,
              title: 'Repeating Event',
              start: '2017-05-16T16:00:00'
            },
            {
              title: 'Conference',
              start: '2017-05-11',
              end: '2017-05-13'
            },
            {
              title: 'Meeting',
              start: '2017-05-12T10:30:00',
              end: '2017-05-12T12:30:00'
            },
            {
              title: 'Lunch',
              start: '2017-05-12T12:00:00'
            },
            {
              title: 'Meeting',
              start: '2017-05-12T14:30:00'
            },
            {
              title: 'Happy Hour',
              start: '2017-05-12T17:30:00'
            },
            {
              title: 'Dinner',
              start: '2017-05-12T20:00:00'
            },
            {
              title: 'Birthday Party',
              start: '2017-05-13T07:00:00'
            },
            {
              title: 'Click for Google',
              url: 'http://google.com/',
              start: '2017-05-28'
            }
          ]
        });
        
      });

    </script>	
	</body>
</html>
