<!--contact-->
<section class="slide whiteSlide contact" data-name="contact">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-8-12">
        <div class="grid">
          <div class="col-4-12 ae-1">
            <h3>Beeville Art Museum</h3>
            <p>
              401 E. Fannin
              <br>
              Beeville, Texas 78102
              <br>
              361.358.8615
            </p>
          </div>

          <div class="col-4-12 ae-2">
            <h3>Contact</h3>
            <p>
              <a href="mailto:BarnhartFoundation@gmail.com">Tracy Saucier, Director</a>
              <br><br>
              <a href="mailto:Education@BAMTexas.org">Crystal Farris<br> Associate Director - Education</a>
              <br><br>
              <a href="mailto:Operations@BAMTexas.org">Corlie Weed<br> Associate Director - Operations</a>
            </p>
          </div>

          <div class="col-4-12 ae-1">
            <h3>Hours</h3>
            <p>
              M-F 9:00 am - 5:00 pm
              <br>
              Saturday 10 am - 2 pm
              <br>
              Sunday Closed
            </p>
          </div>

          <div class="col-12-12">
            <li class="col-12-12 ae-4">
              
              <h3 class="margin-bottom-1">Stay in touch</h3>
              <ul class="social-circles">
                <li>
                  <a class="button roundButton facebook" href="https://www.facebook.com/Beeville-Art-Museum-103515313030905/">
                    <svg>
                      <use xlink:href="#facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </div>
        </div>
        </div>


      </div>
    </div>
  </div>
</section>