<nav class="panel top forceMobileView main-nav">
  <div class="sections desktop">
    <div class="left">
      <h1 class="home-link"><a href="#home">BAM</a></h1>
    </div>
    <div class="right">
      <ul class="menu crop">
        <li><a href="#exhibition">Current Exhibition</a></li>
        <!--<li><a href="http://11-11studios.com/bam/2017%20TAE%20Entry%20Form.pdf" target="_blank">Call for Entries</a></li>-->
        <li><a href="#contact">Contact</a></li>
        <li><a href="https://www.facebook.com/Beeville-Art-Museum-103515313030905/" target="_blank"><svg class="facebookIcon"><use xlink:href="#facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a></li>
      </ul>
    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left">
      <h1 class="home-link"><a href="#home">BAM</a></h1>
    </div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xlink:href="#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span></div>
  </div>
</nav>
<!-- Sidebar -->
<nav class="sidebar darkBlue" data-sidebar-id="1">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <a href="#home" class="logo">
    BAM
    </a>
    <ul class="mainMenu uppercase">
        <li><a href="#exhibition">Current Exhibition</a></li>
        <!--<li><a href="http://11-11studios.com/bam/2017%20TAE%20Entry%20Form.pdf" target="_blank">Call for Entries</a></li>-->
        <li><a href="#contact">Contact</a></li>>
    </ul>
    <ul class="social">
      <li><a href="https://www.facebook.com/Beeville-Art-Museum-103515313030905/"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </div>
</nav>