<!--home-->
<section class="slide fade-5" data-name="home">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class="col-7-12 left middle">
              <h1 class="big ae-1 fromLeft">Beeville Art Museum</h1>
              <div class="ae-2 fromLeft"><p class="hero">Our site is currently being rebuilt. We apologize for any inconvenience. Visit us again soon.
                <!--<br><br>We are currently accepting submissions for the 2017 Texas Artist Exhibition. <em>*The deadline for submission is June 1, 2017</em></p></div>
              <a class="button call-to-action white ae-3 fromCenter" href="http://11-11studios.com/bam/2017%20TAE%20Entry%20Form.pdf" target="_blank">
                Download Form
              </a>-->
            </li>
            
          </ul>
        </div>
                
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/bam-background.jpg)"></div>
</section>